# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Temporary files
*.tmp
*.bak